extends layout

block content
  h1= title
  - let result=results
  div(class="container-fluid")
     div(class='row m-1')
        each item,index in result
            -let destination = `dispatch(\"/Cap/update?id=${item._id}\")`
            div.col-sm-2(onclick=`buy(${index})`) Cap Name: #{item["Cap_Name"]} <br> Cap Company: #{item["Cap_Company"]} <br> Cap Size: #{item["Cap_Size"]} <br> Cap Rating: #{item["Cap_Rating"]}
                button.btn(class="btn-primary ml-1", onclick = destination) Update

  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }

  script.
      function dispatch(path){
      window.location.href=path
      }                