extends layout
block content
 h1= title
 - let Capid = toShow._id
 - let Cap_Name = toShow.Cap_Name
 - let Cap_Company = toShow.Cap_Company
 - let Caps_Size = toShow.Cap_Size
 div
 div.row
 div(class='CapAttr mr-3') Cap ID is:
 div #{Capid}
 div.row
 div(class='CapAttr mr-3') Cap Name is:
 div #{Cap_Name}
 div.row
 div(class='CapAttr mr-3') Cap Company is:
 div #{Cap_Company}
 div.row
 div(class='CapAttr mr-3') Cap Size is:
 div #{Cap_Size}